.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  min-width: 40%;
  margin: 10px 5px;
  border: 1px gray solid;
  border-radius: 10px;
  max-width: 80%;
  background-color: #f4f4f6;
  font-size: 0.9em;
}

.pokedex {
  display: flex;
  flex-flow: column wrap;
  margin: 10px 10px;
  align-items: center;
}

.typeButtons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (min-width: 650px) {
  .pokemon {
    font-size: 1.1em;
  }
}
