/* body {

}

h1 {

}

h2 {

} */

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 20px;
  }
  
  h1 {
    font-size: 1.3em;
  }
  
  h2 {
    font-size: 1.1em;
  }
  
  img {
      max-width: 100%;
  }
  
  figure {
      margin: 50px 0;
  }
}